@media (max-width: 1024px) {
	.header-info{ 
	    background-color: black;
	    height: 25vh; 
	    min-height: 25vh; 
	    max-width: 100%; 
	}
	.mb-h {
	    height: 400px;
	}
	.doble-title {
	    font-size: 50px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    position: relative;
	    top: 0px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #ebebeb;
	    color: transparent;
	}
	.exp-div {
	    background-color: #199d8c;
	    border-top-right-radius: 20px;
	    padding: 30px;
	    position: unset; 
	    max-width: 100%;
	}
	.ml-web-5{
		margin-left: 0rem;
	}
	.mr-web-5{
		margin-right:0rem;
	}
	.info-transport {
	    padding: 20px;
	}
	.form-section {
	    height: 45vh;
	}
	.mission-bg {
	    font-size: 110px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    line-height: 110px;
	    -webkit-text-stroke: 1px #e5edec;
	    color: transparent;
	}
	.slider{
		height: 690px;
	} 
	.tdmex-slider {
	    background-image: url(../images/inicio/tdmx.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 150px 0px;
	}
}

@media (max-width: 1199.98px) {
	.banner-delevery {
	    background-image: url(../images/inicio/van.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 450px 0px;
	}

}
@media (max-width: 991.98px) {
	h1{
		font-size: 2rem;
	}
	.carousel-caption {
	    position: absolute;
	    right: 15%;
	    bottom: 20%;
	    left: 15%;
	    z-index: 10;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    color: #fff;
	    text-align: center;
	}

}
@media (max-width: 768px) {
	.vd-tdmex{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	}
	.mb-h {
    	height: 320px;
	}
	.slider{
		height: 800px;
	}

	.collapse{
		background-color: #199d8c;
		padding: 15px 0px; 
	}
	.form-section {
	    height: 125vh;
	}
	.green-div {
	    margin-bottom: 60px;
	}
}

@media (max-width: 767.98px) {	
	.header-info{ 
	    background-color: black;
	    height: 60vh; 
	    min-height: 60vh; 
	    max-width: 100%; 
	}
	.collapse{
		background-color: #199d8c; 
		padding: 15px 0px;
	}
	/**************************
		INDEX
	**************************/
	.doble-title { 
	    font-size:40px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    position: relative;
	    top: 0px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #ebebeb;
	  	color: transparent; 
	}
	.carousel-caption {
	    position: absolute;
	    right: 15%;
	    bottom: 20%;
	    left: 15%;
	    z-index: 10;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    color: #fff;
	    text-align: center;
	}
	.ml-web-5{
		margin-left: 0rem;
	}
	.mr-web-5{
		margin-right:0rem;
	}
	.text-transport {
	    font-size: 30px;
	    text-align: justify;
	    line-height: 40px;
	}
	.bg-txt{
		font-size: 30px;
		text-align: justify;
		line-height: 40px;
	}
	.efe-txt{
		font-size: 30px;
		text-align: justify;
		line-height: 40px;
	}
	.all-txt{
		font-size: 30px;
		text-align: justify;
		line-height: 40px;
	}
	.info-transport{  
		padding: 15px; 
	}
	.exp-div {
	    background-color: #199d8c;
	    border-top-right-radius: 20px;
	    padding: 30px;
	    position: unset; 
	    max-width: 100%;
	}
	.small-back-title {
	    font-size: 50px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    position: relative;
	    top: 50px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #ebebeb;
	    color: transparent;
	}
	.tdmex-slider {
	    background-image: url(../images/inicio/tdmx.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 100px 0px 50px 0px;
	}
	.develery-title {
	    font-size: 50px;
	    z-index: 9;
	    letter-spacing: 2px;
	    position: relative;
	    top: 50px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #646669;
	    color: transparent;
	    left: -50px;
	}
	.form-section {
	    height: 230vh;
	}
	.green-div {
	    background-image: url(../images/inicio/necesitas_ayuda.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 20px;
	    max-width: 100%;
	    height: 200px;
	    position: unset;
	    top: 70px;
	}
	.white-div {
	    background-color: #fff;
	    padding: 30px;
	    margin: 0px 15px;
	}
	/**************************
		SERVICES
	**************************/
	.services-title {
	    font-size: 70px;
	    z-index: 9;
	    letter-spacing: -4px;
	    position: relative;
	    top: 50px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #669c88;
	    color: transparent;
	    font-family: 'SourceSansPro-Bold';
	} 
	.urgents{
		position: relative;
		top: 100px;
	}
	.send-txt {
    	font-size: 50px;
	}
	.talg-mobile{
		text-align: left;
	}
	.service-plus { 
	    font-size:60px;
	    z-index: 9;
	    letter-spacing: 1px;   
	    -webkit-text-stroke: 1px #64666b;
	  	color: transparent; 
	  	font-family: 'SourceSansPro-Bold'
	} 
	/**************************
		ABOUT
	**************************/

	.about-green-div {
	    background-color: #005146;
	    border-top-right-radius: 20px;
	    padding: 30px;
	    position: unset; 
	    max-width: 100%;
	}
	.mission-bg {
	    font-size: 90px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    line-height: 90px;
	    -webkit-text-stroke: 1px #e5edec;
	    color: transparent;
	} 
	.our-txt{
		font-size: 65px;
		line-height: 65px;
	}
	.mission-txt{
		font-size: 56px;
		line-height: 35px;

	}
	.offer-txt{
		font-size: 47px;
		line-height: 35px;

	}
	.best-txt{
		font-size: 56px; 
		line-height: 35px;
	}
	.serv-txt{
		font-size: 60px; 
		line-height: 35px;
	}
	.support-bg {
		font-size:60px;
		text-align: center!important;
	    z-index: 9;
	    letter-spacing: 2px; 
	    line-height: 90px;
	    position: relative; 
	    top: 50px;
	    left: 10px;
	    -webkit-text-stroke: 1px #e5edec;
	  	color: transparent;
	  	font-family: 'SourceSansPro-Bold'; 
	}
	/**************************
		CONTACT
	**************************/
	.contact-map {
	    background-image: url(../images/contactanos/mapa.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 80px 0px;
	}
}
@media (max-width: 575.98px) { 
	h2 {
	    font-size: 1.8rem;
	}
	/**************************
		INDEX
	**************************/
	.ml-web-5{
	margin-left: 0rem;
	}
	.mr-web-5{
		margin-right:0rem;
	}
	.text-transport {
	    font-size: 30px;
	    text-align: justify;
	    line-height: 40px;
	}
	.bg-txt{
		font-size: 30px;
		text-align: justify;
		line-height: 40px;
	}
	.efe-txt{
		font-size: 30px;
		text-align: justify;
		line-height: 40px;
	}
	.all-txt{
		font-size: 30px;
		text-align: justify;
		line-height: 40px;
	}
	.info-transport{  
		padding: 15px; 
	}
	.exp-div {
	    background-color: #199d8c;
	    border-top-right-radius: 20px;
	    padding: 30px;
	    position: unset; 
	    max-width: 100%;
	}
	.small-back-title {
	    font-size: 50px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    position: relative;
	    top: 50px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #ebebeb;
	    color: transparent;
	}
	.tdmex-slider {
	    background-image: url(../images/inicio/tdmx.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 100px 0px 50px 0px;
	}
	.develery-title {
	    font-size: 50px;
	    z-index: 9;
	    letter-spacing: 2px;
	    position: relative;
	    top: 50px;
	    line-height: 10px;
	    -webkit-text-stroke: 1px #646669;
	    color: transparent;
	    left: -50px;
	}
	.form-section {
	    height: 215vh;
	}
	.mb-h{
		height: 85px;
	}
	.slider{
		height: 620px;
	}
	.urgents {
	    position: relative;
	    top: 70px;
	}
} 

@media (min-width: 1200px) {
	.send-slider{
		padding: 250px 0px;
	} 
} 
@media (min-width: 1400px) { 
	.mb-h {
	    height: 600px;
	}
}
@media (min-width: 1600px) { 
	.mb-h {
	    height: 650px;
	}
} 
@media (min-width: 1920px) { 
	.logo-service{
		max-width: 100%;
	}
	.services-title {
	    font-size: 120px;
	    z-index: 9;
	    letter-spacing: -4px;
	    position: relative;
	    top: 0px;
	    line-height: 120px;
	    -webkit-text-stroke: 1px #bcccc5;
	    color: transparent;
	    font-family: 'SourceSansPro-Bold';
	    margin-bottom: 10px;
	}
	.mb-h {
	    height: 780px;
	}
	.tdmex-slider {
	    background-image: url(../images/inicio/tdmx.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 450px 0px;
	}
	.form-section {
	    height: 45vh;
	}
	.green-div {
	    background-image: url(../images/inicio/necesitas_ayuda.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 20px;
	    width: 385px;
	    height: 200px;
	    position: relative;
	    top: 100px;
	}
	.slider {
	    height: 800px;
	}
	.send-slider {
	    padding: 350px 0px;
	}
	.contact-map {
	    background-image: url(../images/contactanos/mapa.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 180px 0px 420px 0px;
	    margin-bottom: 30px;
	}
	.contact-title{
		font-size: 60px;
	}
	.contact-bg {
	    font-size: 80px;
	    z-index: 9;
	    letter-spacing: 2px;
	    color: #323232;
	    line-height: 60px;
	    position: relative;
	    top: 35px;
	    left: 20px;
	    -webkit-text-stroke: 1px #e6e6e6;
	    color: transparent;
	}

} 